
.app-button {
  margin: 10px;
}

.get-button {
  margin: 10px;
  float: left;
}

.format {
  margin: 10px;
}

.app-list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  clear: left;
}

.example-container > * {
  width: 70%;
  float: left;
  margin: 10px;
  padding: 10px;
}

.example-h2 {
  margin: 10px;
  color: rgba(0,0,0,.54);
}
